.bodyApp {
  background: #040C0E;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bodyBase {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.bodyBotoes {
  width: 60vw;
  height: 90vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 3vw;
}

.todosBotoes {
  display: flex;
  flex-direction: row;
  padding-top: 17px;
}

.primeirosBotoes {
  display: flex;
  flex-direction: column;
}

.linha {
  height: 20%;
  display: flex;
  justify-content: center;
}

.numero,
.outrosBotoes,
.operador,
.apagar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
  border: 1px solid #ccc;
}

.apagar{
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #65805C;
  color: #FFF;
  font-family: Inter;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.numero {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #65805C;
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.operador {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #132226;
  color: #FFF;
  font-family: Inter;
  font-size: 61px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.igual {
  align-content: center;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  background: #DAA520;
  border-color: #FFF;
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.outrosBotoes {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #294249;
  color: #FFF;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.valoresClicados {
  flex-shrink: 0;
  border-radius: 15px;
  background: #A8A8A8;
  color: #000;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 1px solid #ccc;
}

.direitaBase {
  flex-shrink: 0;
  background: #BEBEBE;
}

.tituloResultado {
  width: 138px;
  color: #000;
  font-family: Inter;
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-top: 5.5%;
  padding-bottom: 0%;
}

.resultado {
  color: #000;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-top: 0px;
}

.tituloHistorico {
  height: 5px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
  width: 150px;
  color: #000;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 25px;

}

.historico {
  width: 34vw;
  height: 84vh;
  flex-shrink: 0;
  background: #A8A8A8;
}

.itensHistorico {
  color: #424242;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  padding-left: 25px;
  padding-top: 25px;
}

.itemHistorico {
  list-style: none;
}

.lixo {
  position: fixed;
  height: 150px;
  width: 150px;
  font-size: 40px;
  background-color: #A8A8A8;
  border-radius: 0%;
  margin-top: 473px;
  margin-left: 545px;
  top: 328px;
  right: 0px;
}
