.bodyApp {
  display:flex;
  flex-direction: column;
}

.calculos {
  display: flex;
  flex-direction: row;
}

.bodyTela {
  display: grid;
}

.historico {
  justify-self: end;
}

.botoes {
  background: linear-gradient( rgb(11, 12, 59), rgb(55, 30, 124));
  width: 100vh;
  display: flex;
  flex-wrap: wrap;
}